.form {
  border: 1px solid black;
  padding: 10px;
  min-width: 256px;
  max-width: 300px;
  border: solid 1px #0c92bbb9;
  border-radius: 15px;
  margin: 0 auto 20px;
  background-color: #fff;
}

.formTitle {
  margin-bottom: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-weight: 600;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  margin-bottom: 4px;
  border: solid 1px #0c92bbb9;
  border-radius: 15px;
}

.input:hover,
.input:focus,
.input:active {
  border: solid 1px #0c92bbb9;
  box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
  outline: none;
}

.errorMsg {
  color: red;
}
