.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  min-width: 256px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.contactItem:hover,
.contactItem:active {
  border-color: rgb(88, 88, 88);
}

.contactIcon {
  margin-right: 5px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 6px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contactBtn {
  display: flex;
  min-width: 90px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  line-height: 1.2;
  font-size: 16px;
  border: none;
  font-family: inherit;
  color: #f6f6f6;
  background-color: #0c92bbb9;
}

.contactBtn:hover,
.contactBtn:active,
.contactBtn:focus {
  background-color: #fff;
  color: #1b1b1b;
  box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
}
