.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 52px;
  border-radius: 15px;
  padding: 8px;
  color: #f6f6f6;
  gap: 5px;
  margin-bottom: 10px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 36px;
  border-radius: 15px;
  text-decoration: none;
}
.link:hover {
  box-shadow: 0 1px 1px #00000024, 0 1px 3px #0000001f, 0 2px 1px #0003;
}
.active {
  color: #1b1b1b;
  background-color: #fff;
  border-radius: 15px;
}
